<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>

</head>
<body>
<button><a th:href="@{|/novice|}">Новачок</a></button>
<br>
<button><a th:href="@{|/beginner|}">Твердий початківець</a></button>
<br>
<button><a th:href="@{|/novice|}">Компетентний</a></button>
<br>
<button><a th:href="@{|/proficient|}">Досвідчений</a></button>
<br>
<button><a th:href="@{|/expert|}">Експерт</a></button>

</body>
</html>