<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Test Novice</title>
</head>
<body>
<h1>Test</h1>
<form th:action="@{/competent/results}" method="post">
    <div th:each="question : ${questions}">
        <h2 th:text="${question.text}"></h2>
        <div th:each="option : ${question.options}">
            <input type="radio" th:name="${question.text}" th:value="${option.grade}" />
            <label th:text="${option.text}"></label>
        </div>
        <hr />
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>
